*{
   margin: 0;
   padding: 0;
   box-sizing: 0; 
}

/*                 Preloader                   */

.preloader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5 ease;
}

.blackSheep{
    height: 1000px;
}

.preloader-finish{
    opacity: 0;
    pointer-events: none;
}

.loaderText{
    position: absolute;
    top: 45%;
    transform: translateY(-75%);
    color: whitesmoke;
    font-size: 22px;
    padding: 10px 30%;
    text-align: center;
}

.verse{
    margin-top: 11px;
    color: whitesmoke;
}

/*                  General Details                  */

a{
    text-decoration: none;
    list-style: none;
    color: rgb(226, 226, 226);
    text-transform: uppercase;
}
 
#content{
    background-color: #f2f1ef;
}

html, body{
    overflow-x: hidden;
    background-color: #f2f1ef;
    scroll-behavior: smooth;
    touch-action: pan-y;
}

body{
    position: relative;
}


hr{
    border-radius: 10px;
    border: 1px solid #000;
    width: 75%;
}

.Btn{
    border-radius: 50px;
    padding: .45rem;
    font-size: 15px;
    text-transform: uppercase;
}

hr{
    width: 60vw;
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

/*                    Nav Section                   */

#nav{
    width: 100%;
}

.logo{
    margin: 2rem;
    color: white;
    font-size: 20px;
    padding-left: 10px;
}
.primary-header{
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

.mobile-nav-toggle{
    display: none;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0 0% 0%/ 0.75);
    backdrop-filter: blur(1rem);
    padding-right: 25px;
}

@supports (backdrop-filter: blur(1rem)){
    .primary-navigation{
        background: hsla(0, 0%, 48%, 0.32);
        backdrop-filter: blur(1rem);
    }
}

@media (min-width: 35){
    .primary-navigation{
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 6vw, 10rem);
    }
}

@media (max-width: 35em){
    .primary-navigation{
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        z-index: 1000;
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        background: url(../icon-hamburger.svg);
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 5rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded= "true"]{
        background-image: url(../icon-close.svg);
    }
}


/*                    Home Body                         */ 

.container{
    width: 100%;
    height: 95vh;
}

.homeSection{
    text-align: center;
    height: 90vh;
}

.homeImg{
    width: 100%;
    height: 95vh;
    object-fit: cover;
    object-position: center;
}

.homeText{
    font-size: 7vw;
    font-weight: 700;
    letter-spacing: 1vw;
    text-shadow: 0 15px 25px rgba(0, 0, 0, 2);
    color: whitesmoke;
    bottom: 500px;
    position: relative;
    padding: 0px 60px 0px 60px;
}

.homeSubtext{
    position: relative;
    color: whitesmoke;
    bottom: 470px;
    padding-left: 180px;
    padding-right: 180px;
    font-size: 25px;
    line-height: 1.9;
}



/*                       Portal Section                    */

.portalLine{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.containerP{
    width: 100%;
    height: 140vh;
}

.portal1{
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 50px;
    position: relative;
    left: 210px;
}

.subPortal1{
    height: 400px;
    width: 400px;
}

.portalImg1{
    height: 450px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);
    object-fit: cover;
}

.subPortal2{
    width: 400px;
    height: 200px;
    position: relative;
    right: 65px;
    background-color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subPortal2 h1{
    position: relative;
    font-size: 45px;
    text-shadow: 2px 2px 3px #000;
    color: whitesmoke;
    bottom: 30px;
    margin-top: 30px;
}

.subPortal2Para{
    color: white;
    padding: 20px;
    position: relative;
    bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.portal3{
   display: flex;
    align-items: center;
    margin: 0;
    padding-top: 50px;
    position: relative;
    right: -350px;
}

.subPortal3{
    width: 450px;
    height: 300px;
    position: relative;
    left: 55px;
    background-color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 12;
}

.subPortal3 h1{
   position: relative;
    font-size: 45px;
    text-shadow: 2px 2px 3px #000;
    color: whitesmoke;
    bottom: 30px;
    margin-top: 10px;
}

.portalImg3{
   width: 450px;
   height: 450px;
   border-radius: 20px;
   position: relative;
   box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);
   object-fit: cover;
   
}

.portalBtn3{
    border-radius: 50px;
    padding: .5rem 1rem;
    font-size: 15px;
}

/*                              Social Media                   */

#instagram{
    color: red;
 }

 #spotify{
    color: greenyellow;
 }

 #podcast{
    color: #000;
 }

.containerM{
    width: 100%;
    height: 17vh;
    background: #b1a6a4;
}

.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footerList{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.social{
    position: relative;
    font-size: 30px;
    color: white;
    box-shadow: 10px 25px 10px #00000024, inset
    10px 10px 90px #ffffff94,
    inset -3px -2px 10px #00000061;
    border-radius: 15px;
    height: 5.5vh;
    width: 4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.social:hover{
    transform: translateY(-35%);
}

#facebook::before,
#instagram::before,
#spotify::before,
#podcast::before{
    position: absolute;
    font-size: 0px;
    bottom: -45px;
    transition: all 0.5s ease-in;
}

#facebook:before{
    content: "Facebook";
}

#instagram:before{
    content: "Instagram";
}

#spotify:before{
    content: "Spotify";
}

#podcast:before{
    content: "Podcast";
}

#facebook:hover::before,
#instagram:hover::before,
#podcast:hover::before,
#spotify:hover::before{
    font-size: 15px;
}

/*                Footer                  */

.containerF{
    background: #000;
    padding: 15px;
}

.estLogoF{
    width: 130px;
    padding: 7px;
}

.footerBar{
   text-align: center;
}

.topArrow{
    color: white;
}

.mediaList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 16px 0 16px  0;
    padding: 7px;
}

.footerPara{
    color: white;
    margin-top: 10px;
}


/*                      About Page                   */

.aboutContainer{
    width: 100%;
    height: 80vh;
}

.imgSection{
    height: 80vh;
    text-align: center;
}

.aboutImg{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.imgSection h1{
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: 1vw;
    text-shadow: 0 15px 25px rgba(0, 0, 0, 3.5);
    color: whitesmoke;
    bottom: 600px;
    position: relative;
}

/*                   Intro About Section                 */

.introContainer{
    width: 100%;
    height: 50vh;
}

.introSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introSection h2{
    font-size: 60px;
    padding: 60px 0 20px 0;
    color: black;
    text-shadow: 0 0 10px #fcfc0ca9,
    0 0 20px #fcfc0c,
    0 0 40px #fcfc0c,
    0 0 80px #fcfc0c,
    0 0 160px #fcfc0c,
    0 0 10px #fcfc0c;
}



.introSection p{
    font-size: 25px;
    padding: 0 55px 80px 55px;
    text-align: center;
    line-height: 1.9;
}

/*              About Gallery               */

.displayLayout{
    height: auto;
    padding: 20px;
}

.galleryTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0 60px 0;
}

.galleryTitle h2{
    font-size: 80px;
    line-height: 100px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    animation: light 3s linear infinite;
}

@keyframes light {
    0%{
        color: black;
        text-shadow: none;
    }
    100%{
        color: rgba(15, 15, 15, 0.6);
        text-shadow: 0 0 10px #fcfc0c,
        0 0 20px #fcfc0c,
        0 0 40px #fcfc0c,
        0 0 80px #fcfc0c,
        0 0 160px #fcfc0c,
        0 0 10px #fcfc0c;
    }
} 

.galleryHeader{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 30px;
    padding: 10px;
}

.displayContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-column-gap: 150px;
    grid-row-gap: 50px;
}

.gallery img{
    width: 100%;
    height: 390px;
    border-radius: 20px;
}

.galleryContainer{
    text-align: center;
}

.galleryContainerRJ{
    position: relative;
    left: 240px;
    text-align: center;
}

.galleryContainerRJ h3{
    font-size: 20px;
    margin-top: 10px;
}

.galleryContainerRJ:hover{
    transform: scale(1.1);
    z-index: 1.5;
    transition: 1s;
}

.galleryContainer h3{
    font-size: 20px;
    margin-top: 10px;
}

.galleryContainer:hover{
    transform: scale(1.1);
    z-index: 1.3;
    transition: 1s;
}

/*                       Ministries                 */

.ministriesContainer{
    background-image: url(./Coming\ Soon.jpg);
}

.comingSoon{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.minsubTitle{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 25px;
}

.minTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
}

.minTitle h1{
    font-size: 85px;
    padding: 10px;
}

.minTitle p{
    font-size: 29px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    line-height: 1.6;
}

.minTitle button{
    padding: .8rem .8rem;
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
}

.minFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.minSocial{
    font-size: 25px;
    margin-left: 20px;
}

#minFacebook{
   color: white;
}

#minInstagram{
    color: red;
}

#minPodcast{
   color: #000;
}

#minSpotify{
   color: greenyellow;
}

/*              Sermons                    */

.sermonimgHolder{
    width: 100%;
    height: 65vh;
    position: relative;
}

.sermonImg{
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.text{
    width: 62%;
    top: 39%;
    left: 20%;
    color: whitesmoke;
    position: absolute;
    text-align: center;
    
}

.text span{
    display: inline-block;
    position: relative;
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: 1vw;
    text-shadow: 0 15px 25px rgba(0, 0, 0, 2);
    transform: translateY(-100vh);
    animation: fall 1.3s forwards;
}

@keyframes fall {
    100%{
        transform: translateY(0);
    }
}

.text span:nth-child(2){
    animation-delay: 0.6s;
}
.text span:nth-child(3){
    animation-delay: 0.9s;
}
.text span:nth-child(4){
    animation-delay: 1.2s;
}
.text span:nth-child(5){
    animation-delay: 1.5s;
}
.text span:nth-child(6){
    animation-delay: 1.8s;
}
.text span:nth-child(7){
    animation-delay: 2.1s;
}

.sermonContainer{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.9;
}

.sermonVid{
    height: 80vh;
    padding: 40px;
}

.sermonVidContainer{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.sermonVidImg{
    width: 650px;
    height: 500px;
}

.sermonVidImg Img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    left: 90px;
}

.sermonVidInfo{
    background: black;
    height: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px;
    right: 50px;
}

.sermonVidInfo h1{
    color: whitesmoke;
    font-size: 45px;
}

.sermonVidInfo p{
    color: whitesmoke;
    padding: 30px;
    text-align: center;
}

/*                     Event Section                 */

.calendarContainer{
    height: 70vh;
    width: 100%;
}

.calendarImg{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}

.calendarText{
    width: 62%;
    top: 15%;
    left: 20%;
    color: rgba(255, 251, 251, 0.836);
    position: absolute;
    text-align: center;
}

.calendarText span{
    display: inline-block;
    position: relative;
    font-size: 11vw;
    font-weight: 700;
    letter-spacing: 1vw;
    text-shadow: 0 15px 25px rgba(0, 0, 0, 3.5);
    transform: translateY(100vh);
    animation: rise 1.3s forwards;
}

@keyframes rise {
    100%{
        transform: translateY(0);
    }
}

.calendarText span:nth-child(2){
    animation-delay: 0.9s;
}
.calendarText span:nth-child(3){
    animation-delay: 1.2s;
}
.calendarText span:nth-child(4){
    animation-delay: 1.5s;
}
.calendarText span:nth-child(5){
    animation-delay: 1.8s;
}
.calendarText span:nth-child(6){
    animation-delay: 2.1s;
}
.calendarText span:nth-child(7){
    animation-delay: 2.4s;
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 150px 0 100px 0;
}

.calendar{
    position: absolute;
}

/*                Offering                  */ 

.offeringContainer{
    height: 75vh;
    width: 100%;
}

.offeringHolder{
    width: 100%;
    text-align: center;
}

.offeringHolder Img{
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.offeringHolder h1{
    font-size: 11vw;
    font-weight: 700;
    letter-spacing: 1vw;
    text-shadow: 0 15px 25px rgba(0, 0, 0, 3.5);
    position: relative;
    bottom: 430px;   
    color: whitesmoke;
}

.offeringContent{
    height: 100vh;
    width: 100%;
}

.offeringInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offeringInfo .offeringStatment{
    font-size: 30px;
    padding: 95px 80px 15px 80px;
    text-align: center;
}

.offeringInfo .bibleVerse{
    font-size: 25px;
    padding: 45px 50px 100px 50px;
    text-align: center;
}

.line{
    padding: 80px;
}

.offeringBtn{
    border-radius: 50px;
    padding: 1.2rem 1rem;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}


/* Small Phones, Tablets, Large smart phones */
@media (max-width: 768px){

    /*            Home Header               */
    .logo{
        font-size: 20px;
        padding: none;
    }
    .primary-header{
        width: 100%;
        height: 10vh;
    }

    .primary-navigation{
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        z-index: 1000;
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        background: url(./icon-hamburger.svg);
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 20px;
        right: 1rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded= "true"]{
        background-image: url(./icon-close.svg);
    }

    /*                Home Body              */

    .homeSection{
        height: 100vh;
    }
    .homeText{
        bottom: 450px;
        letter-spacing: .5vw;
        font-size: 8vw;
    }
    .homeSubtext{
        font-size: 20px;
        bottom: 410px;
        padding: 0px 100px 0px 100px;
        text-shadow: 0 15px 25px rgba(0, 0, 0, 3.5);
    }

    .containerP{
        height: 160vh;
    }
    .portal1{
        left: 100px;
    }
    .subPortal1{
        width: 300px;
        height: 400px;
    }
    .subPortal2{
        width: 350px;
        border-radius: 20px;
    }
    .portalImg1{
        width: 300px;
        height: 400px;
    }
    .portal3{
        right: -10px;
    }
    .subportal3{
        width: 300px;
        height: 400px;
    }
    .portalImg3{
        width: 300px;
        height: 400px;
    }
    .subPortal3{
        width: 350px;
        height: 200px;
        border-radius: 20px;
    }
    .subPortal3 h1{
        margin-top: 30px;
    }
    .social{
        width: 7%;
        height: 50px;
    }
    
    /*               About Page                */
 
    .imgSection h1{
        bottom: 400px;
        letter-spacing: .5vw;
        font-size: 8vw;
    }

    .galleryTitle h2{
        animation: none;
        text-shadow: 0 0 10px #fcfc0c,
        0 0 20px #fcfc0c,
        0 0 40px #fcfc0c,
        0 0 80px #fcfc0c,
        0 0 160px #fcfc0c,
        0 0 10px #fcfc0c;
        padding-top: 190px;
    }

    .displayContainer{
        padding: 0;
    }

    .gallery{
        grid-row-gap: 25px;
        grid-column-gap: 1px;
        padding: 50px 0 0 0;
    }

    .gallery img{
        width: 300px;
        height: 300px;
    }

    .name{
        padding: 0 40px 0 40px;
    }

    .galleryContainerRJ{
        left: 200px;
    }
/*             Sermons                   */

    .sermonVid{
        padding: 40px 40px 70px 40px;
    }
    .sermonVidContainer{
        padding: 90px 0 50px 0;
    }
    .sermonVidImg{
        width: 550px;
        height: 400px;
    }

    .sermonVidImg Img{
        left: 50px;
    }

    .sermonVidInfo{
        height: 250px;
        right: 0;
    }
}

/* Small Phones */
@media screen and (min-width: 390px){
    /*          Home Page           */
    .mobile-nav-toggle{
        top: 20px;
    }
    .homeText{
        font-size: 9.5vw;
        padding: 0px;
        bottom: 380px;
        width: 100%;
    }
    .homeSubtext{
        font-size: 16px;
        line-height: 1.5;
        padding: 0px 5px 0 5px;
        bottom: 360px;
        text-align: center;
    }
    .containerP{
        height: 119vh;
    }
    .portal1{
        left: 20px;
    }
    .subPortal1{
        width: 250px;
        height: 260px;
    }
    .portalImg1{
        width: 250px;
        height: 260px;
    }
    .subPortal2{
        height: 200px;
        border-radius: 0px;
        width: 300px;
        right: 40px;
    }
    .subPortal2 h1{
        font-size: 30px;
        margin-top: 0;
        padding: 48px 0 5px 0;
    }
    .subPortal2Para{
        padding: 0 2px 0 2px;
        position: relative;
        bottom: 28px;
    }
    a{
        position: relative;
        
    }
    .Btn{
        font-size: 10px;
        bottom: 10px;
    }
    .portal3{
        right: 20px;
    }
    .subPortal3{
        height: 200px;
        border-radius: 0px;
        width: 300px;
        left: 40px;
    }
    .subPortal3 h1{
        font-size: 30px;
        margin-top: 0;
        padding: 45px 0 5px 0;
    }
    
    .subportal3{
        width: 250px;
        height: 260px;
    }
    .portalImg3{
        width: 250px;
        height: 260px;
    }
    .portalBtn3{
        font-size: 10px;
        bottom: 20px;
    }
    .social{
        width: 12%;
        height: 40px;
    }
    
    .containerF{
        padding: 30px 15px 15px 15px;
    }

    /*            About Page           */
    .imgSection h1{
        font-size: 12vw;
        bottom: 360px;
    }
    .imgSection p{
        color: whitesmoke;
        position: relative;
        text-align: center;
        font-size: 16px;
        text-shadow: 0 15px 25px rgb(0, 0, 0);
    }
    .address{
        bottom: 280px;  
        white-space: nowrap;
    }
    .sunday{
        bottom: 260px;
    }
    .children{
        bottom: 240px;
    }
    .wednesday{
        bottom: 220px; 
    }
    .introSection h2{
        font-size: 30px;
    }
    .introSection p{
        font-size: 20px;
        padding: 0 40px 80px 40px;
    }
    .galleryTitle h2{
        font-size: 35px;
        color: black;
    }
    .galleryHeader{
        font-size: 20px;
        padding: 0px;
        margin-left: 0px;
        justify-content: center;
        padding-top: 20px;
    }
    .gallery{
        grid-column-gap: 0px;
        grid-template-columns: repeat(1, 250px);
    }
    .gallery img{
        width: 250px;
        height: 250px;
    }
    .galleryContainerRJ{
        left: 0px;
    }
    .galleryContainerRJ .name{
        padding: 0px;
    }

    /*           Ministries           */
    .minTitle h1{
        font-size: 60px;
        padding: 0px;
    }
    .minTitle p{
        font-size: 21px;
        padding: 20px 15px 50px 15px;
    }
    .minTitle button{
        font-weight: 700;
        font-size: 15px;
        background-color: #fffffe67;
    }
    .minSocial{
        font-size: 30px;
    }

    /*             Sermons                 */
    .text{
        width: 100%;
        left: 0;
    }
    .text span{
        bottom: -45px;
        font-size: 12vw
    }
    .sermonVidContainer{
        width: 400px;
        align-items: center;
    }
    .sermonVid{
        height: 60vh;
    }
    .sermonVidImg{
        width: 250px;
        height: 260px;
        position: relative;
        left: -70px;
    }
    .sermonVidImg Img{
        width: 250px;
        height: 260px;
    }
    .sermonVidInfo{
        height: 220px;
        border-radius: 0px;
        width: 350px;
        top: 0;
        right: 65px;
        text-align: center;
    }
    .sermonVidInfo h1{
        font-size: 30px;
        
    }
    .sermonVidInfo p{
        padding: 5px 2px 15px 2px;
    }
    

    /*             Offering Page             */
    .offeringContent{
        height: 140vh;
    }
    .offeringHolder h1{
        bottom: 280px;
        font-size: 12vw;
    }
    .offeringInfo .offeringStatment{
        font-size: 23px;
        padding: 95px 10px 15px 10px ;
    }
    .offeringInfo .bibleVerse{
        font-size: 21px;
        padding: 45px 30px 75px 30px;
        line-height: 1.5;
    }
    .line{
        padding: 40px;
    }

    /*                    Events                 */
    .calendarText{
        color: whitesmoke;
        font-size: 12vw;
        width: 70%;
    }
    .calendarText span{
        font-size: 12vw;
        bottom: -30px;
    }
    .hero{
        height: 100%;
    }
    .evo-calendar{
        width: 90%;
    }
}
